In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\nitin\\Downloads\\knn_sample_dataset.csv")

In [3]:
df.head()

   Height  Weight  Age  Class
0     5.0      65   25      1
1     5.5      70   30      1
2     6.0      80   35      1
3     5.2      60   22      0
4     5.8      75   28      1

In [4]:
df.drop(['Class'],axis=1)

    Height  Weight  Age
0      5.0      65   25
1      5.5      70   30
2      6.0      80   35
3      5.2      60   22
4      5.8      75   28
5      5.3      62   24
6      6.2      85   40
7      5.1      55   21
8      5.9      72   33
9      5.4      66   23
10     6.1      78   38
11     5.6      64   27
12     5.7      68   29
13     6.3      90   45
14     5.2      57   20

In [5]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit_transform(df)

array([[-1.52973769, -0.48713186, -0.59888124,  0.81649658],
       [-0.29607826,  0.02029716,  0.09213558,  0.81649658],
       [ 0.93758117,  1.0351552 ,  0.7831524 ,  0.81649658],
       [-1.03627392, -0.99456087, -1.01349133, -1.22474487],
       [ 0.44411739,  0.52772618, -0.18427115,  0.81649658],
       [-0.78954203, -0.79158927, -0.73708461, -1.22474487],
       [ 1.43104494,  1.54258421,  1.47416921,  0.81649658],
       [-1.28300581, -1.50198989, -1.1516947 , -1.22474487],
       [ 0.69084928,  0.22326877,  0.50674567,  0.81649658],
       [-0.54281015, -0.38564605, -0.87528797, -1.22474487],
       [ 1.18431305,  0.83218359,  1.19776249,  0.81649658],
       [-0.04934638, -0.58861766, -0.32247452, -1.22474487],
       [ 0.19738551, -0.18267445, -0.04606779,  0.81649658],
       [ 1.67777682,  2.05001323,  2.16518603,  0.81649658],
       [-1.03627392, -1.29901828, -1.28989806, -1.22474487]])

In [6]:
from sklearn.cluster import KMeans

In [8]:
kmeans=KMeans(n_clusters=2,random_state=2)
kmeans.fit(df)

C:\Users\nitin\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=2, random_state=2)

In [9]:
df['cluster']=kmeans.labels_

In [10]:
df

    Height  Weight  Age  Class  cluster
0      5.0      65   25      1        0
1      5.5      70   30      1        0
2      6.0      80   35      1        1
3      5.2      60   22      0        0
4      5.8      75   28      1        1
5      5.3      62   24      0        0
6      6.2      85   40      1        1
7      5.1      55   21      0        0
8      5.9      72   33      1        1
9      5.4      66   23      0        0
10     6.1      78   38      1        1
11     5.6      64   27      0        0
12     5.7      68   29      1        0
13     6.3      90   45      1        1
14     5.2      57   20      0        0